params {
    fasta_file = '/data/example.fasta'
    output_dir = '/data/output'
    metadata_file = "/data/example_dates.tsv"
    reference = '/NA'
    align_mode = 'minimap2'
    tree_file = '/data/example_tree.nwk'
    skip_clade_annotations = false
    threads = 15
    iqtree_nucleotide_model = "MFP"
    strain_column = "name"
    date_column = "date"
    lineage_column = 'lineage'
    clock_filter = 3.0
    phyclip_input = "/raid/gp/Freyja/Freyja_pathogen_workflow/configs/phyclip_input.txt"
}

process {
    publishDir = [
        path: { "${params.output_dir}" },
        mode: 'copy'
    ]
    conda = "env/base-env.yml"
    withLabel: 'usher' {
        conda='env/usher-env.yml'
    }
    withLabel: 'phyclip' {
        conda='/raid/gp/opt/conda/envs/phyclip'
    }
    withName: 'align' {
        conda='env/align-env.yml'
    }
    withName: 'build_ml_tree' {
        conda='env/iqtree-env.yml'
    }
    withName: 'clock_filter' {
        conda='env/treetime-env.yml'
    }
}
