params {
    fasta_file = '/data/example.fasta'
    output_dir = '/data/output'
    metadata_file = "/data/example_dates.tsv"
    reference = '/NA'
    tree_file = '/data/example_tree.nwk'
    align_to_reference = false
    align_mode = 'mafft'
    skip_clade_annotations = false
    threads = 15
    iqtree_nucleotide_model = "MFP"
    strain_column = "name"
    date_column = "date"
    lineage_column = 'lineage'
    clock_filter = 3.0
    phyclip_input = "/raid/gp/Freyja/Freyja_pathogen_workflow/configs/phyclip_input.txt"
}

process {
    publishDir = [
        path: { "${params.output_dir}" },
        mode: 'copy'
    ]
    withLabel: 'usher' {
        conda='/raid/gp/opt/conda/envs/usher'
    }
    withLabel: 'phyclip' {
        conda='/raid/gp/opt/conda/envs/phyclip'
    }
    withLabel: 'minimap2' {
        conda='/raid/gp/opt/conda/envs/minimap'
    }
}